/* компоненты настроек  */

:root {
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --light-text-color: #ffffff;
  --footer-mail-phone-color:rgba(255, 255, 255, 0.6);

  --primery-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-footer-becground-color: #2f303a;

  --accent-color: #2196f3;
  --hero-btn-accent-color: #188ce8;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primery-background-color);
  letter-spacing: 0.03em;
}

/* стили логотипа футера и хдера "Вэб-студия" и "Портфолио" */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: #2196f3;
}
.text-black {
  color: #000000;
}
.text-white {
  color: #ffffff;
}

/* стили Хэдэра */

/* стили меню навигации  */
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primery-text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.active {
  color: var(--accent-color);
}

/* стили контактов в хэдэре  */

.contact-mail,
.contact-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}

.contact-phone:hover,
.contact-phone:focus {
  color: var(--accent-color);
}

/* стили Футера */

.footer {
  background-color: var(--hero-footer-becground-color);
}

/*стили адресов в футере*/

.address-map {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: var(--light-text-color);
}

.address-mail {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: var(--footer-mail-phone-color);
}

.address-phone {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: var(--footer-mail-phone-color);
}

/*=========Вэб-студия=========*/

/* стили секции "HERO"  */

.hero {
  text-align: center;
  background-color: var(--hero-footer-becground-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--light-text-color);
}

.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--light-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;

  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hero-btn-accent-color);
  color: var(--light-text-color);
}

/* стили секции "особенности компании"*/

.featores-title {
  display: none;
}
.featores-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primery-text-color);
}

.featori-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}

/* стили секции "Чем мы занимаемся"*/

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primery-text-color);
}

/* стили секции "наша команда"*/

.employees-section {
  background-color: var(--secondary-background-color);
}

.employees-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primery-text-color);
}

.employees-card {
  background-color: var(--primery-background-color);

  width: 270px;
  height: 368px;
}

.employees-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--primery-text-color);
}

.employees-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--secondary-text-color);
}

/*==========Портфолио==========*/

/*стили секции навигационных кнопок*/

.projects-title {
  display: none;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  display: inline-block;
  color: var(--primery-text-color);
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--light-text-color);
}

/*стили секции "Проекты компании"*/

.galeri-progects {
  list-style: none;
}
.project-item {
  width: 406.37px;
  height: 404px;
  text-align: center;

  background-color: var(--primery-background-color);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primery-text-color);
}

.about-project {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.88;

  color: var(--secondary-text-color);
}
